<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.college">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pen_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pen_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".todo_add"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".todo_main" />
        <activity
            android:name=".todo_main"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".dashboard" />
        <activity android:name=".admin_user_editor" />
        <activity android:name=".admin_show_std" />
        <activity android:name=".show_grp" />
        <activity
            android:name=".admin_panel"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".dashboard" />
        <activity
            android:name=".reg_teacher"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".admin_panel" />
        <activity
            android:name=".chat_bot"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity android:name=".grp_chat" />
        <activity android:name=".my_class" />
        <activity android:name=".event_comment_item" />
        <activity android:name=".userProfile" />
        <activity android:name=".notes_recycleItem" />
        <activity android:name=".notes_view" />
        <activity
            android:name=".event_upload_event"
            android:parentActivityName=".event_upload" />
        <activity android:name=".event_expand" />
        <activity android:name=".event_recycleItem" />
        <activity
            android:name=".event_upload"
            android:parentActivityName=".dashboard" />
        <activity android:name=".view_notes" />
        <activity
            android:name=".dash_notes"
            android:parentActivityName=".dashboard" />
        <activity android:name=".dash_notes_upload" />
        <activity android:name=".dash_notes_adapter" />
        <activity
            android:name=".dash_notes_list"
            android:parentActivityName=".dash_notes" />
        <activity android:name=".viewfiles" />
        <activity android:name=".upload_files" />
        <activity android:name=".upload_notes" />
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegUsers"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".admin_panel" />
        <activity android:name=".userLogin" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".dashboard"
            android:hardwareAccelerated="true" />
    </application>

</manifest>