<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.college">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".grp_chat"></activity>
        <activity android:name=".my_class" />
        <activity android:name=".event_comment_item" />
        <activity android:name=".dash_notes_upload" />
        <activity android:name=".dash_notes_adapter" />
        <activity android:name=".dash_notes_list" />
        <activity android:name=".userProfile" />
        <activity android:name=".notes_recycleItem" />
        <activity android:name=".notes_view" />
        <activity android:name=".event_upload_event" />
        <activity android:name=".event_expand" />
        <activity android:name=".event_recycleItem" />
        <activity android:name=".event_upload" />
        <activity android:name=".view_notes" />
        <activity android:name=".dash_notes" />
        <activity android:name=".viewfiles" />
        <activity android:name=".upload_files" />
        <activity android:name=".upload_notes" />
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegUsers" />
        <activity android:name=".userLogin" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".dashboard" />
    </application>

</manifest>